#info-window {
    width: 1200px;
    height: 700px;
    background: rgba(50, 20, 20, 0.8); 
    border-radius: 20px;
    overflow: auto;
    box-shadow: 5px 5px 40px #321414;  /*For IE9/Final CSS3 spec*/
    -moz-box-shadow: 5px 5px 40px #321414;  /*For Firefox*/
    -webkit-box-shadow: 5px 5px 40px #321414;  /*For Chrome/Safari*/
    z-index: 2;
    position: absolute;
    display: none;
}

#game-window {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgba(50, 20, 20, 1);
    z-index: 3;
    position: absolute;
    display: none;
}

#info-window-title, #game-window-title {
    width: 100%;
    height: 50px;
}

#game-window-title {
    left: 220px;
    top: 0px;
    padding-left: 20px;
    z-index: 16;
    position: absolute;
    color: #fff;
    font-size: 26px;
    display: none;
}

#info-window-title-name, #game-window-title-name {
    padding-left: 20px;
    color: #fff;
    font-size: 26px;
}

#info-window-close, #game-window-close {
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    z-index: 6;
    position: absolute;
    cursor: pointer;
}

#game-window-close {
    position: fixed;
}

#info-window-close:hover {
    background: rgba(250, 0, 0, 1);
}

#game-window-close:hover {
    background: rgba(250, 0, 0, 1);   
}

#info-window-content {
    color: #fff;
    padding: 50px;
}

.input-label {
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-style:  oblique;
}

.input {
    border-radius: 25px;
    margin: 10px;
    height: 10px;
    width: 200px;
    padding: 10px;
    font-size: 12px;
    float: right;
}

#details {
    width: 400px;
}

#country {
    border-radius: 25px;
    margin-top: 8px;
    padding: 0px;
    height: 32px;
    width: 226px;
    font-size: 12px;
}

.user_button {
    top: 380px;
    border-radius: 20px;
    margin:        10px;
    cursor:        pointer;
    color:         #fff;
    font-size:     18px;
    background:    brown;
    height:        30px;
    width:         100px;
    position: absolute;
    font-family: "Times New Roman", Times, serif;
}

#input-pass{
    display: none;
}

.user_button:hover {
    background: rgba(0, 0, 0, 0.1);
}

#change-pass-button {
    margin-left: 170px;
}

#submit-details-button {
    margin-left: 290px;
}

#user-profile-message {
    bottom: -60px;
    font-size: 18px;
    color: rgb(255, 0, 0);
    position: relative;
}

#user-profile-pic {
    right: 40px;
    top: 40px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    position: absolute;
    background-image: url('../img/user-placeholder-small.png'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#rating-chart {
    width: 680px;
    height: 450px;
    top: 140px;
    left: 470px;
    position: absolute;
}

#user-rating-label, #user-rating-pic {
    top: 50px;
    position: absolute;
}

#user-gold-label, #user-gold-pic {
    top: 120px;
    position: absolute;
}

#user-rating-label , #user-gold-label {
    left: 504px;
}

#user-rating-pic {
    left: 620px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: url('../img/king.png');
}

#user-gold-pic {
    left: 620px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: url('../img/gold.png');
}

#tutorial-slide {
    border-radius: 20px;
    border-width: 0.5px;
    border-style: solid;
    border-color: 0xfff;
    margin-left: 25px;
    margin-right: 25px;
    width: 1000px;
    height: 500px; 
}

#tutorial-img1, #tutorial-img2, #tutorial-img3, #tutorial-img4,
    #tutorial-img6-1, #tutorial-img6-2 {
    width: 600px;
    height: 400px;
    margin: auto;
    display: block;
}

#tutorial-img1, #tutorial-img2, #tutorial-img3, #tutorial-img4 {
    box-shadow: 10px 10px 7px #3B2727;
}

#tutorial-img1 {
    width: 600px;
    height: 400px;
}

#tutorial-img2 {
    width: 600px;
    height: 400px;
}

#tutorial-img3 {
    width: 1000px;
    height: 200px;
}

#tutorial-img4 {
    width: 800px;
    height: 400px;
}

#tutorial-img6-1 {
    width: 600px;
    height: 350px;
    padding-right: 20px;
}

#tutorial-img6-2 {
    width: 400px;
    height: 350px;
}

#tutorial-text {
    font-size: 25px;
    color: #fff;
    font-family: 'Times New Roman';
    padding: 10px;
}

#tutorial-next {
    width: 30px;
    height: 100px;
    background-color: rgba(50, 20, 20, 0);
    border: 0px;
    cursor: pointer;
}

#tutorial-prev {
    width: 30px;
    height: 100px;
    background-color: rgba(50, 20, 20, 0);
    border: 0px;
    cursor: pointer;
}

#prev-img {
    width: 20px;
    height: 100px;
}

#next-img {
    width: 20px;
    height: 100px;
}

#slide1, #slide2, #slide3, #slide4, #slide5, #slide6 {
    display: none;
}