html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgba(82, 75, 69, 1);
}

#map-canvas {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
}

#top-menu {
    height: 44px;
    left: 220px;
    top: 0px;
    padding-top: 7px;
    position: fixed;
    background-color: rgb(50, 20, 20);
    box-shadow: 0px 15px 40px #321414;  /*For IE9/Final CSS3 spec*/
    -moz-box-shadow: 0px 15px 40px #321414;  /*For Firefox*/
    -webkit-box-shadow: 0px 15px 40px #321414;  /*For Chrome/Safari*/
    z-index: 2;
    display: none;
}

.pointer {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: absolute;
    left: 460px;
    background-color: rgb(0, 250, 0);
    display: none;
}

#search {
    left: 20%;
    position: absolute;
}

#search-results {
    width: 338px;
    top: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
    position: fixed;
}

.search-result-name {
    width: 290px;
    height: 40px;
    font-weight: bold;
    padding-left: 5px;
    color: rgb(0, 0, 0);
}

.search-result-pic {
    width: 40px;
    height: 40px;
    margin-left: 1px;
    background-image: url('../img/user-placeholder-small.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.search-result-box:hover {
    background-color: rgba(0, 0, 250, 0.6);
    cursor: pointer;
}

#search-box {
    border-radius: 25px;
    height: 10px;
    width: 340px;
    padding: 10px;
    font-size: 16px;
}

#search-label {
    font-size: 20px;
    color: #fff;
    padding-right: 10px;
}

#curr-user-item {
    right: 70px;
    height: 44px;
    width: 250px;
    color: #fff;
    position: absolute;
}

#curr-user-name {
    top: 8px;
    left: 50px;
    color: #fff;
    position: absolute;
}

#curr-user-pic {
    width: 40px;
    height: 40px;
    top: 4px;
    border-radius: 5px;
    background-image: url('../img/user-placeholder-small.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#log-out-button {
    width: 100px;
    height: 30px;
    top: 10px;
    right: 10px;
    background-color: (0, 255, 0, 1);
    border-radius: 25px;
    font-size: 16px;
    position: absolute;
    cursor: pointer;
}

#log-out-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

#menu {
    width: 220px;
    height: 100%;
}

#nav-menu, #user-list {
    width: 220px;
    background-color: rgba(50, 20, 20, 0.8);
    position: fixed;
    box-shadow: 15px 0px 40px #321414;  /*For IE9/Final CSS3 spec*/
    -moz-box-shadow: 15px 0px 40px #321414;  /*For Firefox*/
    -webkit-box-shadow: 15px 0px 40px #321414;  /*For Chrome/Safari*/
    z-index: 5;
}

#user-list {
    border-top: 5px solid rgba(20, 10, 10, 0.7);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 0px;
    display: none;
}


.menu-item {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

.menu-item:hover {
    background: rgba(255, 255, 255, 0.1);
}

.menu-item a {
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    text-decoration: none;
}

.user-item {
    height: 45px;
    width: 210px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding-top: 10px;
    cursor: pointer;
    display: table;
}

.user-item:hover {
    background-color: rgba(50, 20, 20, 0.9);
}

.user-item-pic {
    width: 44px;
    display: table-cell;
    background-image: url('../img/user-placeholder-small.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.user-item-name {
    width: 154px;
    display: table-cell;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.user-item-status {
    width: 15px;
    display: table-cell;
    padding-top: 10px;
    padding-bottom: 10px;
}

.user-item-status-pic {
    height: 15px;
    background-image: url('../img/user-status.png');
    background-size: 45px 30px;
    background-position: -15px 15px;
}

/* Some scroolbar styling tips from http://webdesign.tutsplus.com/tutorials/
htmlcss-tutorials/quick-tip-styling-scrollbars-to-match-your-ui-design/ */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba(50, 20, 20, 0.1);
} /* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
    background-color: rgba(170, 170, 170, 0.1);
    border-radius: 20px;
} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(170, 170, 170, 0.6);
}
::-webkit-scrollbar-button {
    background-color: rgba(50, 20, 20, 0.2);
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
    background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also
 needs to be styled */